<div class="bg-color">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="http://localhost:4200/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
</nav>
<form>
    <div class="form-row align-center corner-text">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Your Name (required)</label>
            <input type="text"  class="form-control corner-text" id="Email" placeholder="Enter your name">
          </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Your Email (required)</label>
        <input type="email" class="form-control corner-text" id="Email" placeholder="Enter your email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Phone</label>
        <input type="phone" class="form-control corner-text" id="Phone">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Your Message</label>
        <textarea  name="your-name corner-text" class="form-control" ></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary corner-text">Send</button>
  </form>
</div>