<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="http://localhost:4200/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">search</li>
    </ol>
</nav>
<div class="form-group">
    <p class="top"><label for="search">FASTEST CONDO SEARCH!</label></p>
    <input type="text"  placeholder="Search by Project Name, Builder, City, Neighbourhood" class="form-control" id="usr">
    <p class="content-first">FIND ALL TORONTO, MISSISSAUGA, ETOBICOKE,</p>
    <p class="content-second"> NORTH YORK, VAUGHAN,  RICHMOND HILL, MARKHAM & OAKVILLE CONDOS!</p>
</div>